<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New chat</title>
</head>
<body>
    <h3> New chat</h3>
    <form method="post" action="/chats"> 
        <input placeholder="Who are you" name="from"><br>
        <textarea name="msg">Write your message here</textarea><br> 
        <input placeholder="add receiver" name="to"><br>
        <button>Create chat</button>
    </form>
    
</body>
</html>