body{
    margin-left: 20px;
}

.chat {
    padding: 20px;
    background-color: rgb(175, 216, 253);
    border-radius: 16px;
    display: inline-block;
    font-style: italic;
}

.msg {
    background-color: dodgerblue;
    color: white;
    padding: 5px 15px;
    font-style: italic;
}